<?xml version="1.0" encoding="UTF-8" ?>
<suite name = "Suite" parallel = "tests" thread-count="2">
    <test name ="Chrome">
        <parameters>
            <parameter name="browser" value="chrome"/>
        </parameters>
        <classes>
            <class name="tests.TC07"/>

        </classes>
    </test>
    <test name ="Firefox">
        <parameters>
            <parameter name="browser" value="firefox"/>
        </parameters>
        <classes>
            <class name="tests.TC07"/>
        </classes>
    </test>
</suite>